<!DOCTYPE HTML>
<html>
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form method="POST">

    <fieldset>
        <label for="name">Nom</label>
        <input id="name" name="name" type="text" required>
    </fieldset>


    <fieldset>
        <select name="matchItems[0].field">
            {{#availableFields}}
            <option value="{{.}}">{{.}}</option>
            {{/availableFields}}
        </select>

        <select name="matchItems[0].operator">
            <option value="==">==</option>
            <option value="!=">!=</option>
            <option value="<">&lt;</option>
            <option value="<=">&lt;=</option>
            <option value=">">&gt;</option>
            <option value=">=">&gt;=</option>
        </select>

        <input name="matchItems[0].value" type="text">
    </fieldset>

    <button>Ajouter</button>
</form>
</body>
</html>